---
const title = "TEXOMA MANUFACTURERS";
const subtitle = "THIS IS A COMPREHENSIVE LIST OF STEEL MATERIAL AND TRAILER MANUFACTURERS IN THE TEXOMA AREA THAT WE HAVE DELIVERY TRAILERS.";

import Layout from "../layouts/Layout.astro";
import HeaderSmall from "../components/HeaderSmall.astro";
import ProjectCard from "../components/ProjectCards.astro";
import ProjectCard1 from "../components/ProjectCards1.astro";
import ProjectCard2 from "../components/ProjectCards2.astro";
import ProjectCard3 from "../components/ProjectCards3.astro";
---

<Layout title="Manufactures">
  <main>
  
    <div class="">
      <section class="section">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{title}</h2>
          <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">{subtitle}</p>
        </div>
        <div class="grid md:grid-cols-2 sm:grid-cols-1 gap-8">
          <!-- Manually added project components -->
          <ProjectCard projectTitle="Oklahoma Steel & Wire" href="https://www.okbrandwire.com/" body="OKBRAND, part of Oklahoma Steel & Wire, is a leading American manufacturer of high-quality agricultural fencing and industrial wire products, made from 100% recycled materials and known for their durability and reliability." type="Steel Manufacturer, American Made" repo="Repo 1" />
          <ProjectCard1 projectTitle1="J & I Manufacturing Inc" href="https://jimfg.com/" body1="J & I Manufacturing, Inc. specializes in producing high-quality steel products, including truck beds, trailers, steel buildings, and farm and ranch supplies, with over 40 years of industry experience." type="Steel Manufacturer, American Made" repo="Repo 2" />
          <ProjectCard2 projectTitle2="Big Tex Trailers" href="https://www.bigtextrailers.com/" body2="Big Tex Trailers is the leading manufacturer of professional-grade trailers in America, offering a wide range of durable and reliable trailers designed for heavy-duty hauling and tailored for professionals across various industries." type="Trailer Manufacturer, American Made" repo="Repo 3" />
          <ProjectCard3 projectTitle3="CM Truck Beds Madill" href="https://cmtruckbeds.com/" body3="CM Truck Beds designs and manufactures rugged, durable, and customizable truck beds for various applications, including construction, agriculture, and fleet management, offering a wide range of models in both steel and aluminum to meet the demands of heavy-duty work environments" type="Truck Bed Manufacturer, American Made" repo="Repo 4" />
        </div>
      </section>
    </div>
  </main>
</Layout>