---
// import the Image component and the image
import { Image } from 'astro:assets';
import darkImage from "../assets/TThomeimage.jpg"; 
import lightImage from "../assets/TThomeimage.jpg"; 
const title = "Steel Strong, Trailer Ready—Your Hassle-Free Delivery Experts from the Heart of Texoma to Anywhere in the USA!"
const body = "Established in 2024, our transport company specializes in the reliable and efficient transportation of steel and trailers directly from manufacturers in southern Oklahoma and northern Texas to destinations across the USA. As a family-owned business, we are rooted in strong values and a commitment to exceptional service. We pride ourselves on offering fair and competitive rates, ensuring that your cargo is delivered safely and on time. Our team goes above and beyond to meet your needs, making sure every delivery exceeds your expectations.."
---
<section class="mb-12 bg-stone-100 dark:bg-slate-800">
    <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
        <Image src={darkImage} class="w-full hidden dark:block" alt="A description of my image." />
        <Image src={lightImage} class="w-full dark:hidden border-solid border-2" alt="A description of my image." />
        <!-- <img class="w-full dark:hidden border-solid border-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup.svg" alt="dashboard image">
        <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg" alt="dashboard image"> -->
        <div class="mt-4 md:mt-0">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">{title}</h2>
            <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">{body}</p>

        </div>
    </div>
</section>