---
import Heading from "./Heading.astro";

const heading = "Our Services";

const sections = [
  "Nationwide Trailer Transport",
  "Steel Transportation Services",
  "Competitive Pricing & Custom Solutions", 
];

const sectionsText = [
  "We specialize in transporting new trailers directly from manufacturers in southern Oklahoma and northern Texas to anywhere in the USA. Our fleet is equipped to handle trailers of all sizes and types, ensuring safe and timely deliveries.",
  "Our company offers reliable transportation of manufactured steel products across the country. Whether it's steel beams, plates, or coils, we ensure that your cargo is securely transported from the manufacturing site to its destination.",
  "We pride ourselves on providing fair and competitive rates for all our transportation services. We offer customized solutions to meet your specific needs and ensure you receive the best value for your investment.",
];
---

<div class="mb-12 bg-stone-100 dark:bg-slate-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <Heading heading={heading} />
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      {
        sections.map((section) => {
          return (
            <div class="flex flex-col">
              <div class="mt-6">
                <h3 class="text-lg font-medium text-gray-900 dark:text-white">
                  {sections[sections.indexOf(section)]}
                </h3>
                <p class="mb-8 mt-2 text-lg text-gray-700 dark:text-gray-400">
                  {sectionsText[sections.indexOf(section)]}
                </p>
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</div>
