
<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/1.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/2.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/3.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/4.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/5.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/6.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/7.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/8.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/9.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/10.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/11.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://texomatrucking.s3.us-east-2.amazonaws.com/12.jpg" alt="">
    </div>
</div>
