---

import ButtonGroup from './ButtonGroup.astro';
interface Props {
  projectTitle1: string;
  body1: string;
  href: string;
  type?: string;
  repo?: string;
  external?: boolean;
}

const { href, projectTitle1, body1, type, repo } = Astro.props;
---

<div
  class="bg-gray-50 dark:bg-gray-900 border border-gray-200 shadow-lg dark:border-gray-700 rounded-lg"
>
<img class="w-full dark:hidden border-solid border-2" src="https://texomatrucking.s3.us-east-2.amazonaws.com/3s.jpg" alt="dashboard image">
<img class="w-full hidden dark:block" src="https://texomatrucking.s3.us-east-2.amazonaws.com/3s.jpg" alt="dashboard image">
  <div class="px-8 py-8">
  {
    type && (
      <span class="bg-primary text-white text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-100 mb-2">
        {type}
      </span>
    )
  }
  <h2 class="text-gray-900 dark:text-white text-3xl font-extrabold mb-2">
    {projectTitle1}
  </h2>
  <p class="text-lg font-normal text-gray-700 dark:text-gray-400 mb-4">
    {body1}
  </p>
  <ButtonGroup text1="WEBSITE" href1="https://jimfg.com/" />
</div>
